.first{
    background-color: blanchedalmond;
    height: 30rem;
    width: 30rem;
    border-radius: 55% 55% 55% 55%;

}

.name{
    font-size: 3rem;
    position: absolute;
    top: 20%;
    left: 7%;
}
.post{
    font-size: 2rem;
    position: absolute;
    top: 30%;
    left: 15%;
}
